.inventory--MAIN {
  background-color: $grey-1;
  overflow: auto;

  .inputfield--MAIN {
    margin: 1.5rem 0 0 1.5rem;
  }

  .checkbox--MAIN {
    margin: 1rem 0 0 1rem;
    display: inline-block;
  }

  .tree-graph--MAIN {
    float: left;
  }
}

.inventory--header {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}

.inventory--properties-list {
  float: left;
  margin: 0 0 2rem 4rem;
  min-width: 20rem;

  .checkbox--MAIN {
    display: block;
  }
}
